@model WookiepediaStatusArticleData.Models.Nominators.NominatorForm;

<label asp-for="Name">Name</label>
<input type="text" asp-for="Name" required="required" />
<span asp-validation-for="Name"></span>

<label>
    <input type="checkbox" asp-for="IsRedacted" />
    Redact Name from Public View
</label>

<div id="attribute-container">
  <partial name="_AttributesList" model="@Model" />
</div>

<br />
<div class="submit-buttons">
    <a asp-controller="Nominators" asp-action="Index">
        <em>Cancel</em>
    </a>
    <button type="submit">Submit</button>
</div>
