@model WookiepediaStatusArticleData.Models.Nominators.NominatorForm;

<label asp-for="Name">Name</label>
<input type="text" asp-for="Name" required="required" />
<span asp-validation-for="Name"></span>

<div id="attribute-container">
  <partial name="_AttributesList" model="@Model" />
</div>

<br />
<a asp-controller="Nominators" asp-action="Index">
    <em>Cancel</em>
</a>
<input type="submit" value="Submit" />
