@using Htmx.TagHelpers
@model WookiepediaStatusArticleData.Models.Nominators.NominatorForm;

<form hx-target="this" hx-swap="outerHTML" class="f-row justify-content:space-between box plain">
    <vc:nominator-form form="Model"></vc:nominator-form>
    <div class="f-row align-self:center">
        <button
            type="button"
            hx-get
            hx-controller="Nominators"
            hx-action="IndividualNominator"
            hx-route-id="@Model.Id">
            Cancel
        </button>
        <button 
            type="submit"
            hx-post
            hx-controller="Nominators"
            hx-action="Edit"
            hx-route-id="@Model.Id">
            Save
        </button>
    </div>
</form>