@using WookiepediaStatusArticleData.Nominations.Nominators
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WookiepediaStatusArticleData.Models.Nominators.NominatorEditViewModel;

@{
    // assume that all attributes are current
    var isBanned = Model.Attributes.Any(it => it is NominatorAttributeType.Banned);
}

<div class="f-switch">
    <div class="f-col width:100%" style="gap: 0.25rem">
        <label asp-for="Name">Name</label>
        <input type="text" asp-for="Name" required="required"/>
        <span asp-validation-for="Name" class="color bad"></span>
    </div>
    @if (isBanned)
    {
        <span class="secondary-font">Looking for attributes? Un-ban @Model.Name to edit them.</span>
    }
    else
    {
        <fieldset class="f-col">
            <legend>Attributes</legend>
            @foreach (var allowedAttribute in Model.AllowedAttributes)
            {
                <label>
                    <input
                        type="checkbox"
                        name="Attributes"
                        value="@allowedAttribute"
                        checked="@Model.Attributes.Contains(allowedAttribute)"/>
                    @allowedAttribute.ToDescription()
                </label>
            }
        </fieldset>
    }
</div>