@model WookiepediaStatusArticleData.Models.Nominators.ImportNominatorsFromTimelineForm;

@{
    ViewData["Title"] = "Import Nominations";
    Layout = "_AdminLayout";
}

@section MainTitle 
{
    <h1>Import Nominators</h1>
}

<section>
    <form enctype="multipart/form-data" method="post" asp-controller="Nominators" asp-action="ImportFromTimeline">
        <label asp-for="Upload">Text File</label>
        <input type="file" asp-for="Upload" required="required" />
        <span asp-validation-for="Upload"></span>

        <br />
        <a asp-controller="Nominators" asp-action="Index">
            <em>Cancel</em>
        </a>
        <button type="submit">Submit</button>
    </form>
</section>