@model WookiepediaStatusArticleData.Models.Nominators.NominatorsViewModel;

@{
    ViewData["Title"] = "Nominators";
}

@section PageHeader 
{
    <h1>Manage Nominators</h1>
    <p>Manage contributors who can be nominated for a status article award.</p>
    <a asp-controller="Nominators" asp-action="AddForm">
        <strong>New Nominator</strong>
    </a>
    <a asp-controller="Nominators" asp-action="ImportFromTimeline">
        <em>Import from Timeline</em>
    </a>
}

<section>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Current Attributes</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var nominator in Model.Nominators)
        {
            <tr>
                <td>@nominator.Name</td>
                <td>
                    @if ((nominator.Attributes?.Count ?? 0) > 0)
                    {
                        <ul>
                            @foreach (var attr in nominator.Attributes!)
                            {
                                <partial name="_AttributeListItem" model="@attr" />
                            }
                        </ul>
                    }
                    else
                    {
                        <span>--</span>
                    }
                </td>
                <td>
                    <a asp-controller="Nominators" asp-action="EditForm" asp-route-id="@nominator.Id">
                        <em>Edit</em>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</section>