@model WookiepediaStatusArticleData.Models.Nominators.NominatorsViewModel;

@{
    ViewData["Title"] = "Nominators";
    Layout = "_AdminLayout";
}

@section MainTitle 
{
    <h1>Manage Nominators</h1>
}

@section Links
{
    <a asp-controller="Nominators" asp-action="AddForm">
        New Nominator
    </a>
    <a asp-controller="Nominators" asp-action="ImportFromTimeline">
        Import from Timeline
    </a>
}

<section>
    <div class="table-container">
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Current Attributes</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var nominator in Model.Nominators)
            {
                <tr>
                    <td>@nominator.Name</td>
                    <td>
                        @if ((nominator.Attributes?.Count ?? 0) > 0)
                        {
                            <ul>
                                @foreach (var attr in nominator.Attributes!)
                                {
                                    <partial name="_AttributeListItem" model="@attr" />
                                }
                            </ul>
                        }
                        else
                        {
                            <span>--</span>
                        }
                    </td>
                    <td>
                        <a asp-controller="Nominators" asp-action="EditForm" asp-route-id="@nominator.Id">
                            <em>Edit</em>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</section>