@model WookiepediaStatusArticleData.Models.Nominators.NominatorsViewModel;

@{
    ViewData["Title"] = "Nominators";
}

<div id="projects-page" class="f-col">
    <h1>Manage Nominators</h1>
    <div class="f-col">
        @foreach (var nominator in Model.Nominators)
        {
            <partial name="_Nominator" model="nominator"/>
        }
    </div>
</div>