@using WookiepediaStatusArticleData.Nominations.Projects
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WookiepediaStatusArticleData.Models.Projects.ProjectForm;

<div class="project-name">
    <div class="f-col" style="gap: 0.25rem">
        <label asp-for="Name">Project Name</label>
        <input type="text" asp-for="Name" class="@Model.Type.GetDisplayClass() name-field" required="required"/>
        <span asp-validation-for="Name" class="color bad"></span>
    </div>
    <input type="hidden" asp-for="Type" class="type-field"/>
</div>