@model WookiepediaStatusArticleData.Models.Projects.ProjectForm;

<form id="project-add-form" hx-post hx-controller="Projects" hx-action="Create" hx-target="#projects-page" hx-swap="outerHTML" class="f-row justify-content:space-between box plain">
    <div class="f-switch">
        <partial name="_ProjectNameField" model="@Model"/>
        <div class="f-row">
            <div class="f-col width:100%" style="gap: 0.25rem">
                <label asp-for="CreatedDate">Created Date (UTC)</label>
                <input type="date" asp-for="CreatedDate" required="required"/>
                <span asp-validation-for="CreatedDate" class="color bad"></span>
            </div>
            <div class="f-col width:100%" style="gap: 0.25rem">
                <label asp-for="CreatedTime">Created Time (UTC)</label>
                <input type="time" asp-for="CreatedTime" required="required"/>
                <span asp-validation-for="CreatedTime" class="color bad"></span>
            </div>
        </div>
    </div>
    <div class="f-row align-self:center">
        <button
            type="button"
            hx-get
            hx-controller="Projects"
            hx-action="AddButton"
            hx-target="#project-add-form"
            hx-swap="outerHTML">
            Cancel
        </button>
        <button type="submit">Add</button>
    </div>
</form>