@{
    ViewData["Title"] = "New Project";
    Layout = "_AdminLayout";
}

@section MainTitle
{
    <h1>Create New Project</h1>
}

<section>
    <form asp-controller="Projects" asp-action="Add">
        <partial name="_Form" />
    </form>
</section>