@model WookiepediaStatusArticleData.Models.Projects.ProjectForm;

@{
    ViewData["Title"] = "Create New Project";
}

<div>
    <h1>Create New Project</h1>
    <form asp-controller="Projects" asp-action="Create">
        <label>
            Name: <input type="text" asp-for="Name" />
        </label>
        <button type="submit">Create</button>
    </form>
</div>