@model WookiepediaStatusArticleData.Models.Projects.ProjectForm;

@{
    ViewData["Title"] = $"Edit Project {Model.Name}";
    Layout = "_AdminLayout";
}

@section PageHeader
{
    <h1>Edit Project @Model.Name</h1>
}

<section>
    <form asp-controller="Projects" asp-action="Edit" asp-route-id="@Model.Id">
        <partial name="_Form" model="@Model" />
    </form>
</section>
