@model WookiepediaStatusArticleData.Models.Projects.ProjectsViewModel;

@{
    ViewData["Title"] = "Projects";
}

<div id="projects-page" class="f-col">
    <h1>Projects</h1>
    <partial name="_AddButton"/>
    <div class="f-col">
        @foreach (var project in Model.Projects)
        {
            <partial name="_Project" model="project"/>
        }
    </div>
</div>