@model WookiepediaStatusArticleData.Models.Projects.ProjectsViewModel;

@{
    ViewData["Title"] = "Projects";
}

<div id="projects-page">
    <h1>Projects</h1>
    <ul id="projects-list">
        @foreach (var project in Model.Projects)
        {
            <partial name="_Project" model="project" />
        }
    </ul>
    <partial name="_Project.Add" model="null" />
</div>