@using System.Text.RegularExpressions
@model string;

@{
    var realArticleName = Regex.Replace(Model, @" \(.+ nomination\)$", "").Replace(" ", "_");
}

<a href="https://starwars.fandom.com/wiki/@realArticleName" referrerpolicy="no-referrer" rel="noreferrer" target="_blank">
    @Model
</a>
