@model WookiepediaStatusArticleData.Nominations.Nominators.Nominator;

@if (Model.IsRedacted)
{
    <span>Redacted</span>
}
else
{
    <a href="https://starwars.fandom.com/wiki/User:@Model.Name.Replace(" ", "_")" target="_blank" rel="noreferrer">
        @Model.Name
    </a>
}