@layer {
    * {
        margin: unset;
        padding: unset;
    }
}

#layout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    grid-template-columns: 1fr;
}

#layout header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #e0e0e0;
    opacity: 0.75;
}

#layout header nav {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

#layout main {
    overflow: auto;
    padding: 1rem;
}