@model WookiepediaStatusArticleData.Models.Nominations.NominationListViewModel;

@{
    ViewData["Title"] = "Nominations";
    Layout = "_AdminLayout";
}

@section MainTitle 
{
    <h1>Manage Nominations</h1>
}

@section Links
{
    <a asp-controller="Nominations" asp-action="UploadForm">
        Import from CSV
    </a>
}

<section>
    <partial name="_FilterForm" model="@Model.Query" />
</section>

<section id="nominations-table-container">
    <partial name="_NominationsTable" model="@Model" />
</section>