@model WookiepediaStatusArticleData.Models.Nominators.NominatorsViewModel;

<div id="nominators-page" class="f-col">
    <h1>Manage Nominators</h1>
    <partial name="_AddButton"/>
    <div class="f-col">
        @foreach (var nominator in Model.Nominators)
        {
            <vc:nominator nominator="nominator"></vc:nominator>
        }
    </div>
</div>